body{
    font-size: 15px;
}
.container{
    display: flex;
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
p{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    width: 150px;
}
.con{
    padding: 32px;
    border-radius: 10px;
    height: 300px;
}
.con-1{
    background-color: hsl(31, 77%, 52%);
    width: auto;
}
.con-2{
    background-color: hsl(184, 100%, 22%);
    width: auto;
}
.con-3{
    background-color: hsl(179, 100%, 13%);
    width: auto;
}
.sub-head{
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    width: 400;
    font-size: 25px;
}
.btn-learn-more{
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    border-style: none;   
    color: hsl(31, 77%, 52%);;
}

.con-2 .btn-learn-more{
    color:hsl(184, 100%, 22%);
}
.con-1 .btn-learn-more{
    color: hsl(31, 77%, 52%);;
}
.con-3 .btn-learn-more{
    color: hsl(179, 100%, 13%);;
}
.con-3-text{
    margin-bottom: 0px;
}
@media (min-width:375px) and (max-width:1440px){
    .container{
        display: flex;
        flex-direction: column;
    }
}
.